

.benefits {
    padding-top: 94px;
    padding-bottom: 94px;
}

.benefits__list {
    display: flex;
}

.benefits__item {
    width: 270px;
}

.benefits__item+.benefits__item {
    margin-left: 30px;
}

.box__benefits {
    min-width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 30px;
}

/*.benefits-item::before{
    content: "";
    display: block;
    height: 120px;
    background-color:#F5F4FA ;
    border-radius: 4px;
    margin-bottom: 30px;
}
.benefits-item:nth-child(1)::before{
    background-image: url(./images/antenna/1.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.benefits-item:nth-child(2)::before {
    background-image: url(../images/clock\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.benefits-item:nth-child(3)::before {
    background-image: url(../images/diagram\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.benefits-item:nth-child(4)::before {
    background-image: url(../images/astronaut\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
}*/
.benefits__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: getColor('primary-text-color');
}

.benefits__txt {
    margin-top: 10px;
    line-height: 1.71;
    color: getColor('paragraph-text-color');
}